{% extends 'base_front.html.twig' %}

{% block title %}Inscription | DTC
{% endblock %}

{% block body %}
	<h1 class="h3 mb-3 font-weight-normal" style="text-align: center;">Inscription</h1>

	{{ form_start(form) }}
	{{ form_rest(form) }}
	<div style="margin-top: 20px" id="suivant_register">
		<button class="btn btn-lg btn-primary" style="width: 100%" type="submit">
			s'enregistrer
		</button>
	</div>
	{{ form_end(form) }}
	<div id="link">
		Déjà inscrit ?
		<a href="/login">
			Se connecter
		</a>
	</div>

	<style>
		form {
			max-width: 420px;
			width: 100%;
			border: 1px solid #ddd;
			padding: 20px;
			border-radius: 5px;
			display: flex;
			flex-direction: column;
			margin: auto
		}

		input#register_pro {
			opacity: 1;
			margin: 6px 0 0 5px;
			pointer-events: auto;
		}

		#link {
			display: block;
			margin: auto;
			width: fit-content;
			padding: 60px;
		}
	</style>
{% endblock %}
