<form method="post" action="{{ path('admin_remark_delete', {'id': remark.id}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ remark.id) }}">
    <button><i class="red-text darken-4 material-icons small">close</i></button>
</form>
