{% extends 'base_back.html.twig' %}

{% block title %}New Remark{% endblock %}

{% block body %}
<div class="container">

<h1>Créer un commentaire</h1>

    {{ include('back/remark/_formNew.html.twig') }}

    <a href="{{ path('admin_remark_index') }}">back to list</a>
</div>
{% endblock %}
