{% extends 'base_front.html.twig' %}

{% block title %}New Statistical{% endblock %}

{% block body %}
    <h1>Create new Statistical</h1>

    {{ include('statistical/_form.html.twig') }}

    <a href="{{ path('statistical_index') }}">back to list</a>
{% endblock %}
