{% extends 'base_front.html.twig' %}

{% block title %}Mot de passe changé, mail envoyé! | DTC{% endblock %}

{% block body %}
	<div style="margin: 20vh 0;">
		<h1 style="text-align: center">Vous y êtes presque!</h1>
		<p>
			Si un compte correspondant à votre adresse e-mail existe, alors un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe. Ce lien expirera dans:
			{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
		</p>
		<p style="text-align: center; margin-top: 20px">Si vous ne recevez pas d'e-mail,
			<b>vérifiez votre dossier de courrier indésirable (spam)</b>
			ou <b>votre adresse e-mail</b>. Sinon,
			<a href="{{ path('app_forgot_password_request') }}">essayez encore</a>.</p>
	</div>
{% endblock %}
