/*.checkbox-challenge{*/
/*    opacity : 100% !important;*/
/*    position: relative !important;*/
/*    color: red;*/
/*}*/

div.vich-image > a > img{
    height: 100px !important;
}

.btn_edit_generic, .btn_delete_generic {
    display: flex;
}
.btn_edit_generic i, .btn_delete_generic i {
    margin-right: 5px;
}

.btn-primary {
    background-color: var(--btn-primary-color);
}
.btn-primary:hover {
    background-color: var(--main-bg-color);
}