<form method="post" action="{{ path('challenges_delete', {'id': challenge.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ challenge.id) }}">
    <button class="waves-effect waves-light btn red accent-3">Supprimer</button>
</form>
