{{ form_start(form) }}
    {{ form_rest(form) }}
    <button class="waves-effect waves-light btn orange accent-3" type="submit">Editer</button>
{{ form_end(form) }}

<style>
    button{
        margin-top: 30px;
        margin-bottom: 30px;
    }
</style>