{% extends 'base_front.html.twig' %}

{% block title %}Edition de challenge | DTC{% endblock %}

{% block body %}
    <h1>Modification du challenge</h1>

    {{ include('challenges/_form.html.twig', {'button_label': 'Editer'}) }}
    <a class="waves-effect waves-light btn btn-primary" style="margin: 0 auto 20px; display: flex; width: fit-content;" href="{{ path('challenges_index') }}">retour aux challenges</a>

{% endblock %}
