{% extends 'base_front.html.twig' %}

{% block title %}Edit Challenges{% endblock %}

{% block body %}
    <h1>Edit Challenges</h1>

    {{ include('challenges/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="waves-effect waves-light btn blue-grey darken-2" href="{{ path('challenges_index') }}">back to list</a>

    {{ include('challenges/_delete_form.html.twig') }}
{% endblock %}
