{% extends 'base_front.html.twig' %}

{% block title %}New Challenges{% endblock %}

{% block body %}
    <h1>Create new Challenges</h1>

    {{ include('challenges/_form.html.twig',{'button_label': 'Créer'}) }}

    <div style="padding: 30px">
        <a class="btn btn-primary waves-effect waves-light" href="{{ path('challenges_index') }}">Retour à la liste</a>
    </div>
    <style>
        a.btn{
            display: block;
            margin: auto;
            width: 180px;
        }
    </style>
{% endblock %}
