{% extends 'base_back.html.twig' %}

{% block body %}


    <div class="content bg">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l3">
                    <div class="card card-bg">
                        <div class="card-content center teal accent-2">
                            <p>Categories</p>
                            <h5>{{ categoryTotaux }}<i style='vertical-align: bottom' class="material-icons">bookmark_border</i></h5>
                        </div>
                    </div>
                </div>
                <div class="col l12 m6 s12">
                    <div class="card card-bg">
                        <div class="card-content center"  >
                             <canvas id="categories" height="400" style="margin: auto;" ></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}


