{% extends 'base_back.html.twig' %}

{% block body %}
<div class="container">
    <div style="height: 400px; width: 400px ;text-align: center;">
        <span>Utilisations des catégories</span>
        <canvas id="categories" width="400" height="400"></canvas>
    </div>
    <div style="height: 400px; width: 400px ;text-align: center;">
        <span>Création de challenges par Date</span>
        <canvas id="challengeDate" width="400" height="400"></canvas>
    </div>
</div>
{% endblock %}


