<form method="post" action="{{ path('admin_friends_delete', {'id': friend.id}) }}">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ friend.id) }}">
	<button style=" outline: none; background: none;">
		<i class="red-text darken-4 material-icons small">close</i>
	</button>
</form>
