{% extends 'base_front.html.twig' %}

{% block title %}Group index{% endblock %}

{% block body %}
    <h1>Group index</h1>

    {% for group in userGroup %}
        <div class="one_challenge_card_global col s6">
            <div class="card">
                <div class="card-content">
                    <p>
                        Groupe {{ group.name }}
                        <a href="./{{ group }}" class="right">Show</a>
                    </p>
                </div>
            </div>
        </div>

    {% else %}
        <h1>Vous n'avez pas encore de groupe</h1>
    {% endfor %}

    <a class="waves-effect waves-light btn green accent-3" href="{{ path('group_new') }}">Create new</a>
{% endblock %}
