{% extends 'base_front.html.twig' %}

{% block title %}New Group{% endblock %}

{% block body %}
    <h1>Créer un nouveau groupe</h1>

    {{ include('group/_form.html.twig') }}

    <a href="{{ path('group_index') }}" style="padding: 30px">Liste des groupes</a>
{% endblock %}
