{% extends 'base_front.html.twig' %}

{% block title %}New Group{% endblock %}

{% block body %}
    <h1>Créer un nouveau groupe</h1>

    {{ include('group/_form.html.twig') }}
    <div style="margin-top: 30px">
        <a href="{{ path('group_index') }}" >Liste des groupes</a>
    </div>
{% endblock %}
