<form method="post" action="{{ path('post_delete', {'id': post.id,'id_challenge':challenge.id}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="waves-effect waves-light btn red accent-3">Supprimer</button>
</form>
