{% extends 'base_back.html.twig' %}

{% block title %}Edit Challenges{% endblock %}

{% block body %}
    <h1>Edit Challenges</h1>

    {{ include('back/challenges/_form.html.twig', {'button_label': 'Editer'}) }}

{% endblock %}
