{% extends 'base_back.html.twig' %}

{% block title %}New Challenges{% endblock %}

{% block body %}
<div class="container">

<h1>Create new Challenges</h1>

    {{ include('back/challenges/_form.html.twig',{'button_label': 'Créer'}) }}

    <div style="padding: 30px">
        <a class="btn btn-lg" href="{{ path('admin_challenges_index') }}">Retour à la liste</a>
    </div>
    <style>
        #date{
            font-size: 10px;
            text-align: end;
        }
        a.btn{
            display: block;
            margin: auto;
            width: 180px;
        }
    </style>
</div>
{% endblock %}
