<form method="post" action="{{ path('admin_user_delete', {'id': user.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button  style=" outline: none; background: none;"><i class="red-text darken-4 material-icons small">close</i></button>
</form>
