<div id="icon-container" style="width= 100%; height= 100%"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.4/lottie.min.js" defer></script>
<script src="{{ asset('js/404_lottie.js') }}" defer/>

<script>
	console.log('404 not found :)')
</script>
