<form method="post" style="display: inline-block; width: max-content;" action="{{ path('remark_delete', {'id': remark.id,'id_challenge':challenge.id}) }}">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ remark.id) }}">
	<button class="btn_delete_generic" style="background: none; cursor: pointer; display: flex; align-items: center; font-size: 15px;">
		<i class="material-icons">delete</i>Supprimer</button>
</form>
