<form method="post" action="{{ path('remark_delete', {'id': remark.id,'id_challenge':challenge.id}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ remark.id) }}">
    <button class="waves-effect waves-light btn red accent-3 btn_delete_generic"><i class="material-icons delete">delete</i>Supprimer</button>
</form>
