{% extends 'base_front.html.twig' %}

{% block title %}Paiement Accepté{% endblock %}

{% block body %}

    {{ parent() }}

    <h1>Merci de votre confiance</h1>
    <p>
        Lorem Ipsum
    </p>

{% endblock %}
