<form method="post" action="{{ path('admin_tags_delete', {'id': tag.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tag.id) }}">
    <button style=" outline: none; background: none;"><i class="red-text darken-4 material-icons small">close</i></button>
</form>
